<div class="border rounded p-2 mb-2 bg-white" id="comment-{{ comment.id }}">
    <strong>{{ comment.author }}</strong> — {{ comment.created_at }}<br>
    <p>{{ comment.text|linebreaks }}</p>

    <button class="btn btn-sm like-comment-btn 
        {% if user.is_authenticated %}
            {% if user in comment.likes.all %}btn-primary{% else %}btn-outline-primary{% endif %}
        {% else %}
            btn-outline-secondary disabled
        {% endif %}"
        data-id="{{ comment.id }}">
        <span style="pointer-events:none;">👍 <span class="comment-like-count">{{ comment.likes.count }}</span></span>
    </button>


    {% if not user.is_authenticated %}
        <p class="text-muted">Zaloguj się, aby polubić komentarz!</p>
    {% endif %}



    {% if user.is_authenticated %}
    <form method="POST" action="{% url 'add_comment' post.pk %}" class="reply-form mt-2">
        {% csrf_token %}
        <textarea name="text" rows="2" class="form-control mb-1" placeholder="Odpowiedz..."></textarea>
        <input type="hidden" name="parent_id" value="{{ comment.id }}">
        <button class="btn btn-sm btn-outline-primary">Odpowiedz</button>
    </form>
    {% endif %}

    <div class="ms-4 mt-2">
        {% for reply in comment.replies.all|dictsort:"created_at" %}
            {% include "comments/comment.html" with comment=reply %}
        {% endfor %}
    </div>
</div>
